.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
  padding-right: 1rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(45, 131, 245);
}

.dividerNav {
  border-right: solid 2px hsl(240deg 8% 78%);
  height: 14px;
  margin-top: 37px;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 02rem 0.7rem;
}

.active {
  text-decoration: underline;
}
